@use "../abstract/" as *;
@use "../base/" as *;

.contactBanner {
  padding: 4rem 0;
  position: relative;
  &__title {
    max-width: 50rem;
    margin-bottom: 2rem;
  }
  &__wrapper {
    @include gridCustom(1.5fr 1fr, 5rem);
  }
  &__left {
    form {
      display: flex;
      flex-direction: column;
      input {
        margin: 0.5rem 0 2rem;
        width: 100%;
        padding: 1rem;
        background-color: $clr--dark;
      }
      textarea {
        @extend input;
        height: 10rem;
      }

      input::placeholder {
        font-family: $font-primary;
        color: $clr--light;
      }
      input:focus,
      input:enabled {
        color: $clr--light;
      }
    }

    &--name {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  }

  &__right {
    padding: 4rem;
    background-color: $clr--light;
    border: 1px solid $clr--dark;
    height: fit-content;
    width: fit-content;
    &::after {
      position: absolute;
      display: inline-block;
      content: " ";
      background-color: $clr--dark;
      width: 35rem;
      height: 90vh;
      right: 1rem;
      bottom: 1rem;
      z-index: -9;
    }
  }

  @include mediaQuery(520px) {
    padding: 10rem 0;
    &__title {
      text-align: center;
      margin-bottom: 3rem;
    }
    &__wrapper {
      grid-template-columns: 1fr;
      gap: 3rem;
    }

    &__left {
      form {
        margin: 1rem 0;
      }
      &--name {
        flex-direction: column;
        gap: unset;
      }
    }

    &__right {
      padding: 3rem;
      width: 100%;

      &::after {
        display: none;
      }
    }
  }
}

.contactFaq {
  padding: 4rem 0;
  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    @include mediaQuery(520px) {
      flex-direction: column;
      h2,
      p {
        text-align: center;
      }
    }
  }
  &__left {
    max-width: 30rem;
    h2 {
      margin-bottom: 2rem;
    }
    @include mediaQuery(520) {
      text-align: center;
    }
  }
  &__item {
    border-bottom: 1px solid $clr--grey;
    padding: 1.5rem 0;

    &--question {
      @include between;
      cursor: pointer;
      i {
        transition: 0.5s ease;
      }
      @include mediaQuery(520px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
      }
    }

    &--answer {
      margin-top: 0.5rem;
      max-height: 0;
      overflow: hidden;
      transition: all 0.3s ease;
    }

    &.active {
      i {
        transform: rotate(180deg);
      }
      .contactFaq__item--answer {
        max-height: 1000px;
      }
    }
  }
}
