@use "../abstract/" as *;

.footer {
  padding: 2rem 0;
  color: $clr--dark;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__nav {
    ul {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }

    a {
      color: $clr--dark;
    }
  }
}
