@use "../abstract/" as *;
@use "../base/" as *;

.cards {
  padding: 2rem 0;
  display: flex;
  gap: 1rem;

  img {
    width: 8rem;
    height: 10rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4 {
      font-family: $font-secondary;
      color: $clr--dark;
      margin: 5px 0;
    }

    p {
      line-height: 1.5;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        display: flex;
        align-items: center;

        i {
          color: $clr--primary;
        }
      }
    }

    a {
      color: $clr--dark;
    }
  }
}
