@use "../abstract/" as *;
@use "../base/" as *;

.title {
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
  h2 {
    margin-bottom: 0.5rem;
  }
}

.small {
  font-family: $font-primary;
  font-size: 0.9rem;
  color: $clr--primary;
  letter-spacing: 0.7rem;
  font-weight: 700;
}
